* {
  box-sizing:border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  height:100vh;
}

body {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

article.front {
  width: 20em;
  height: 30em;
  background: linear-gradient(0deg, rgba(243, 205, 231) 50%, #ff5bd9 100%);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
}

article.back {
  width: 20em;
  height: 30em;
  background-color: #fff;
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  border: #ff5bd9 solid 0.5em;
}

header.front {
  text-align: center;
}

header.back {
  margin: 2em;
}

h1 {
  font-size: 1.5em;
}

h1.back {
  color:#ff5bd9
}

h2 {
  font-size: 1em;
  font-style: italic;
}

img {
  width:9em;
  border-radius:5em;
  border:5px solid #fff;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  transition: 1s;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img:hover {
  transform: scale(1.15);
}

article > p {
  padding:3rem 2rem;
  margin-top: 0;
  background:rgba(255,255,255, 0.5);
  text-align:center;
  border-radius: 0 0 1rem 1rem;
  width:100%;
}

li {
  text-align: left;
}

a {
  color: rgb(106, 0, 255);
}