* {
  box-sizing:border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  height:100vh;
}

body {
  perspective: 600px;
}

.business-card {
  transform-style: preserve-3d;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  transition: transform 1s;
  width: max-content;
  margin: auto;
}

.business-card.flip {
  transform: rotateY(180deg);
}

.business-card.flip article.back {
  pointer-events: all;
}

article.front {
  width: 20em;
  height: 30em;
  background: linear-gradient(0deg, rgba(243, 205, 231) 50%, #ff5bd9 100%);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
}

article.back {
  width: 20em;
  height: 30em;
  background: linear-gradient(0deg, rgba(243, 205, 231) 50%, #ff5bd9 100%);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: absolute;
  transform: rotateY(180deg);
  pointer-events: none;
}

article.back::before {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color: #fff;
  border-radius:0.5rem;
}

header.front {
  text-align: center;
  margin-top: 3rem;
}

header.back {
  margin: 2em;
  position: relative;
}

h1 {
  font-size: 1.5em;
}

h1.back {
  color:#ff5bd9;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 2rem;
}

img {
  width:9em;
  border-radius:5em;
  border:5px solid #fff;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  transition: 1s;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img:hover {
  transform: scale(1.2);
}

article > p {
  padding:3rem 2rem;
  margin-top: 0;
  background:rgba(255,255,255, 0.5);
  text-align:center;
  border-radius: 0 0 1rem 1rem;
  width:100%;
}

ul {
  text-align: left;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: rgb(106, 0, 255);
  display: block;
}

p.ps {
  font-size: 0.5rem;
  margin-top: 3.5rem;
}